body {
    background-color: rgb(37, 1, 70);
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

.navbar {
    background-color: rgb(93, 47, 128);
    position: fixed; /* Fija la barra de navegación en la parte superior */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    z-index: 1000; /* Asegura que la barra de navegación esté por encima del contenido */
    top: 0; /* Asegura que la barra de navegación esté en la parte superior */
    color: rgb(220, 210, 210);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.navbar li {
    margin: 0 10px; /* Añade margen entre los elementos */
}

.navbar li a {
    display: block;
    color: rgb(220, 210, 210);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
    color: rgb(37, 1, 70);
}

/* Estilos de los iconos */
.navbar i {
    margin-right: 5px;
}